{
    "env": {
      "jest": true
    },
    "globals": {
      "document": true,
      "window": true,
      "sessionStorage": true,
      "WebSocket": true,
      "localStorage": true,
      "location": true,
      "Element": true,
      "HTMLInputElement": true,
      "FileReader": true,
      "Request": true,
      "SVGElement": true,
      "HTMLCanvasElement": true,
      "HTMLElement": true,
      "forProduct": true,
      "forProducts": true
    },
    "extends": [
      "airbnb",
      "prettier",
      "plugin:@typescript-eslint/recommended"
    ],
    "plugins": ["react", "jsx-a11y", "import", "prettier", "react-hooks"],
    "rules": {
      "@typescript-eslint/explicit-module-boundary-types": "off",
      "react/jsx-props-no-spreading": "off",
      "prettier/prettier": ["error", { "endOfLine": "auto" }],
      "import/prefer-default-export": "off",
      "import/no-named-default": "off",
      "no-case-declarations": "off",
      "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
      "no-console": ["error", { "allow": ["warn", "error"] }],
      "no-param-reassign": 0,
      "react/jsx-curly-brace-presence": 2,
      "max-len": [1, 120, 2],
      "no-bitwise": "off",
      "jsx-a11y/href-no-hash": "off",
      "jsx-a11y/no-static-element-interactions": 0,
      "react/jsx-filename-extension": [
        1,
        {
          "extensions": [".ts", ".tsx"]
        }
      ],
      "import/no-unresolved": "off",
      "import/extensions": "off",
      "react/forbid-prop-types": "off",
      "react/no-did-update-set-state": "off",
      "react/no-unescaped-entities": "off",
      "react/prop-types": "off",
      "no-confusing-arrow": "off",
      "no-useless-concat": "off",
      "quote-props": "off",
      "import/no-named-as-default": "off",
      "strict": 0,
      "global-require": "off",
      "import/no-extraneous-dependencies": [
        "error",
        {
          "devDependencies": true
        }
      ],
      "import/no-duplicates": "error",
      "no-unused-expressions": "warn",
      "radix": "warn",
      "spaced-comment": "warn",
      "camelcase": "warn",
      // TODO: Fix this erroring for import React
      "no-use-before-define": "off",
      "no-shadow": "warn",
      "react/sort-comp": "off",
      "@typescript-eslint/no-explicit-any": "warn",
      "@typescript-eslint/explicit-function-return-type": "off",
      "@typescript-eslint/ban-ts-comment": "warn",
      "@typescript-eslint/ban-types": "warn",
      "@typescript-eslint/no-inferrable-types": "warn",
      "@typescript-eslint/no-var-requires": "warn",
      "@typescript-eslint/no-empty-function": "warn",
      "@typescript-eslint/no-this-alias": "warn",
      "@typescript-eslint/no-use-before-define": "warn",
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "error",
      "no-underscore-dangle": "off"
    },
    "settings": {
      "import/resolver": {
        "node": {
          "paths": ["src", "~"]
        }
      }
    },
    "overrides": [
      {
        "files": ["*.ts", "*.tsx"],
        "parser": "@typescript-eslint/parser"
      }
    ]
  }